/var/lib/stickshift/525137de5973ca6eb200003b/app-root/data/638131/data/
/var/lib/stickshift/525137de5973ca6eb200003b/app-root/data/638131/node_modules/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
data
BAK
*.0
*.1
*.ns
*.lock
